<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :title, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :title, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
  </div>

  <div>
    <%= form.label :content, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_area :content, class: "mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm" %>
  </div>

  <div class="flex gap-5 " >
    <%= link_to "Back to posts", posts_path, class: "mt-[20px] w-[130px] block rounded-md bg-gray-500 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-gray-700" %>

      <button type="submit" class= "mt-[20px] w-[115px] block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700" >
      Create post
    </button>
  </div>
        
        


<% end %>


